{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
{% include('nav.html.twig') %}
    <h1>Hello {{ controller_name }}! ✅</h1>
    <a href=""></a>

{% endblock %}
