{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{% include('nav.html.twig') %}
<h1> Welcome</h1>
    <div>I have made this app in order to practice symfony framework</div>


{% endblock %}
