{% extends 'base.html.twig' %}

{% block title %}Bidding app{% endblock %}

{% block body %}
{% include('nav.html.twig') %}
<div class="container">
    <div><h1> Welcome</h1></div>
    <div>I have made this app in order to practice symfony framework</div>
    <div>to log in u can use email test@test.example password: test</div>
    <div>tho registration works</div>
</div>


{% endblock %}
