form{
    width: 60%;
    margin:0px auto;
    font-size: 22px;
}
nav{
    font-size: 22px;
}
.form-control{
    box-sizing: border-box;
}
div.show{
    background-color: #bbbbbb;
    width: 100%;
}
.auction>div{
    width: 33%;
    display: inline-block;

}