<ul class="side_filters">
{% if parent %}
    <li>Go back to <a href="{{ path('auctions_category', {'category': parent.name }) }}" > {{ parent.name }} </a></li>
{% endif %}
{% for category in categories %}
    <li><a href="{{ path('auctions_category', {'category': category.name })}}" > {{ category.name|replace({'_':' ' })  }} </a></li>
{% endfor %}
</ul>
