{% extends 'base.html.twig' %}

{% block title %}Hello AuctionController!{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('css/auctions.css')}}" />

{% endblock %}
{% block body %}
{% include 'nav.html.twig' %}
<aside>
    {% include 'auction/filters.html.twig' %}
</aside>
<div class="container">
    <div class="items">
        {% if items|length %}
            {% for item in items %}
                <div class="item">
                    <h4>{{ item.name }}</h4>
                    <div>{{ item.describtion }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div>No items in this category</div>
        {% endif %}
    </div>
</div>


{% endblock %}
